@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/stackoverflow-light.css';

@layer base {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .no-scrollbar::-webkit-scrollbar-track {
        display: none;
    }

    .no-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(107, 114, 128);
    }

    /* .no-scrollbar { */
    /* -ms-overflow-style: block; IE and Edge */
    /* scrollbar-width: 1px; Firefox */
    /* } */

    .markdown .hljs,
    .markdown code {
        @apply w-full p-1 bg-gray-100 rounded;
    }

    .markdown > h1 {
        @apply text-3xl border-b;
    }

    .markdown > h2 {
        @apply text-2xl border-b;
    }

    .markdown > h3 {
        @apply text-xl border-b;
    }

    .markdown > ul {
        @apply ml-4 list-disc list-inside;
    }

    .markdown > ol {
        @apply ml-4 list-decimal list-inside;
    }
}
